# PART2 決定木のモデルを作ってみよう

## おまじない
- 以下を追加します
    - from sklearn.tree import DecisionTreeClassifier as DT
    - from sklearn.tree import export_graphviz
    - import pydotplus
    - from IPython.display import Image

In [19]:
pip list

Package                       Version
----------------------------- -------------------
anaconda-client               1.7.2
anaconda-navigator            2.1.1
anyio                         2.2.0
appnope                       0.1.2
argon2-cffi                   20.1.0
async-generator               1.10
attrs                         20.3.0
Babel                         2.9.0
backcall                      0.2.0
backports.functools-lru-cache 1.6.4
backports.tempfile            1.0
backports.weakref             1.0.post1
beautifulsoup4                4.9.3
bleach                        3.3.0
brotlipy                      0.7.0
certifi                       2021.10.8
cffi                          1.14.0
chardet                       4.0.0
chromedriver-binary           94.0.4606.41.0
chromedriver-binary-auto      0.1.1
click                         7.1.2
clyent                        1.2.2
colorama                      0.4.4
conda                         4.10.3
conda-build                   3.18.9
conda-content-trust           0+unknown
conda-package-handling        1.7.3
conda-repo-cli                1.0.4
conda-token                   0.3.0
conda-verify                  3.4.2
configparser                  5.0.2
crayons                       0.4.0
cryptography                  3.4.7
cycler                        0.10.0
decorator                     5.0.6
defusedxml                    0.7.1
deprecation                   2.1.0
entrypoints                   0.3
et-xmlfile                    1.1.0
filelock                      3.0.12
Flask                         2.0.1
future                        0.18.2
glob2                         0.7
h11                           0.12.0
helium                        3.0.6
humanize                      3.9.0
idna                          2.10
importlib-metadata            3.10.0
ipykernel                     5.3.4
ipython                       7.22.0
ipython-genutils              0.2.0
itsdangerous                  2.0.1
jedi                          0.17.0
Jinja2                        3.0.1
joblib                        1.0.1
json5                         0.9.5
jsonschema                    3.2.0
jupyter-client                6.1.12
jupyter-core                  4.7.1
jupyter-packaging             0.9.2
jupyter-server                1.4.1
jupyterlab                    3.0.14
jupyterlab-pygments           0.1.2
jupyterlab-server             2.4.0
kiwisolver                    1.3.1
libarchive-c                  2.9
lightgbm                      3.1.1
MarkupSafe                    2.0.1
matplotlib                    3.4.2
mistune                       0.8.4
navigator-updater             0.2.1
nbclassic                     0.2.6
nbclient                      0.5.3
nbconvert                     6.0.7
nbformat                      5.1.3
nest-asyncio                  1.5.1
notebook                      6.3.0
numpy                         1.20.3
olefile                       0.46
openpyxl                      3.0.7
outcome                       1.1.0
packaging                     20.9
pandas                        1.2.4
pandocfilters                 1.4.3
parso                         0.8.2
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        8.2.0
pip                           21.0.1
pkginfo                       1.7.0
prometheus-client             0.10.1
prompt-toolkit                3.0.17
psutil                        5.8.0
ptyprocess                    0.7.0
pycosat                       0.6.3
pycparser                     2.20
pydotplus                     2.0.2
Pygments                      2.8.1
PyJWT                         2.1.0
pyOpenSSL                     20.0.1
pyparsing                     2.4.7
pyrsistent                    0.17.3
PySocks                       1.7.1
python-dateutil               2.8.1
pytz                          2021.1
PyYAML                        5.4.1
pyzmq                         20.0.0
QtPy                          1.9.0
requests                      2.25.1
ruamel-yaml-conda             0.15.100
scikit-learn                  0.22.1
scipy                         1.6.3
seaborn                       0.11.1
selenium                      4.0.0
Send2Trash                    1.5.0
setuptools                    52.0.0.post20210125
six                           1.15.0
slackbot                      1.0.0
slacker                       0.14.0
sniffio                       1.2.0
sortedcontainers              2.4.0
soupsieve                     2.2.1
terminado                     0.9.4
testpath                      0.4.4
tomlkit                       0.7.0
tornado                       6.1
tqdm                          4.59.0
traitlets                     5.0.5
trio                          0.19.0
trio-websocket                0.9.2
typing-extensions             3.7.4.3
ujson                         4.0.2
urllib3                       1.26.4
wcwidth                       0.2.5
webdriver-manager             3.4.2
webencodings                  0.5.1
websocket-client              0.44.0
Werkzeug                      2.0.1
wheel                         0.36.2
wsproto                       1.0.0
xlrd                          2.0.1
xmltodict                     0.12.0
zipp                          3.4.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pydotplus

Collecting pydotplus
  Downloading pydotplus-2.0.2.tar.gz (278 kB)
     |████████████████████████████████| 278 kB 4.6 MB/s eta 0:00:01
Requirement already satisfied: pyparsing>=2.0.1 in /Users/do/.pyenv/versions/anaconda3-2019.10/lib/python3.7/site-packages (from pydotplus) (2.4.7)
Building wheels for collected packages: pydotplus
  Building wheel for pydotplus (setup.py) ... done
  Created wheel for pydotplus: filename=pydotplus-2.0.2-py3-none-any.whl size=24566 sha256=8f39a420316111a27b23119ac3a0048cf746195d88e8b4972a0ee235213be7b8
  Stored in directory: /Users/do/Library/Caches/pip/wheels/1e/7b/04/7387cf6cc9e48b4a96e361b0be812f0708b394b821bf8c9c50
Successfully built pydotplus
Installing collected packages: pydotplus
Successfully installed pydotplus-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [6]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

from sklearn.tree import DecisionTreeClassifier as DT
from sklearn.tree import export_graphviz
import pydotplus
from IPython.display import Image

## データの読み込み
- train.csvとtest.csvとsubmit_sample.csvの３つのファイルを読み込みましょう
- それぞれを読み込んだものは変数はtrain, test, sampleに代入しましょう
- submit_sampleを読み込む時は、header=Noneというオプションを忘れないようにしましょう

In [9]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
sample = pd.read_csv("submit_sample.csv", header=None)

## trainの先頭行を確認してみましょう

In [10]:
train.head()

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,1,39,blue-collar,married,secondary,no,1756,yes,no,cellular,3,apr,939,1,-1,0,unknown,1
1,2,51,entrepreneur,married,primary,no,1443,no,no,cellular,18,feb,172,10,-1,0,unknown,1
2,3,36,management,single,tertiary,no,436,no,no,cellular,13,apr,567,1,595,2,failure,1
3,4,63,retired,married,secondary,no,474,no,no,cellular,25,jan,423,1,-1,0,unknown,1
4,5,31,management,single,tertiary,no,354,no,no,cellular,30,apr,502,1,9,2,success,1

## trainから説明変数になるデータを取り出しましょう
- 今回は説明変数はy以外の全てのカラムとしますが、データを選択時に全て書きだすのは面倒です
- そこで今回はilocを使い、選択したデータを変数trainXに代入しましょう
- train.iloc[ 開始行:終了行, 開始列:終了列 ]と書くことで、列・行を数字で指定して書くことができます
- 開始から終了まで全てを取り出したい場合は、「:」だけでよく、数字を省略することも可能です

In [12]:
trainX = train.iloc[:, 0:17]
trainX

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,1,39,blue-collar,married,secondary,no,1756,yes,no,cellular,3,apr,939,1,-1,0,unknown
1,2,51,entrepreneur,married,primary,no,1443,no,no,cellular,18,feb,172,10,-1,0,unknown
2,3,36,management,single,tertiary,no,436,no,no,cellular,13,apr,567,1,595,2,failure
3,4,63,retired,married,secondary,no,474,no,no,cellular,25,jan,423,1,-1,0,unknown
4,5,31,management,single,tertiary,no,354,no,no,cellular,30,apr,502,1,9,2,success
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27123,27124,42,blue-collar,married,primary,no,1455,yes,no,cellular,2,feb,279,2,269,2,other
27124,27125,34,services,single,secondary,no,719,yes,no,unknown,15,may,362,3,-1,0,unknown
27125,27126,36,blue-collar,single,primary,no,49,yes,no,unknown,8,may,405,1,-1,0,unknown
27126,27127,33,housemaid,married,primary,no,209,no,no,cellular,12,aug,76,4,-1,0,unknown
27127,27128,29,services,single,secondary,no,40,yes,no,cellular,18,may,105,1,355,2,failure

## trainから目的変数になるデータを取り出しましょう
- yを選択し、変数yに代入しましょう

In [24]:
y = train["y"]

KeyError: 'y'

## testの先頭行を見てみましょう

In [17]:
test.head()

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,1,30,management,single,tertiary,no,1028,no,no,cellular,4,feb,1294,2,-1,0,unknown
1,2,39,self-employed,single,tertiary,no,426,no,no,unknown,18,jun,1029,1,-1,0,unknown
2,3,38,technician,single,tertiary,no,-572,yes,yes,unknown,5,jun,26,24,-1,0,unknown
3,4,34,technician,single,secondary,no,-476,yes,no,unknown,27,may,92,4,-1,0,unknown
4,5,37,entrepreneur,married,primary,no,62,no,no,cellular,31,jul,404,2,-1,0,unknown

## testから説明変数となるデータを取り出しましょう
- 今回はtestの全てのカラムが説明変数となりますので、copy関数を使って変数testXに代入します
- 単純にtextX = testとしない理由は今回は説明しませんが、プログラム的な観点の為です

In [18]:
testX = test.copy()

## trainXとtestXをダミー変数化しましょう

In [20]:
trainX = pd.get_dummies(trainX)
testX = pd.get_dummies(testX)

## 決定木モデルの箱を用意しましょう
- 変数名をclf1とし、DT()を代入しましょう
- DTのカッコの中にはオプションとして機械学習のパラメータを書きます。今回はmax_depth=2, min_samples_leaf=500と書きましょう

In [21]:
clf1 = DT(max_depth=2, min_samples_leaf=500)

## 決定木モデルを作りましょう
- fit関数を使います
- カッコの中に、説明変数、目的変数の順番に書きます

In [22]:
clf1.fit(trainX,y)

NameError: name 'y' is not defined

## できた木を確認しましょう
- 決定木を可視化する為には、まず決定木の図データをdotファイルで書き出し、その後、jupyter上で表示する必要があります
- まずdotファイル書き出しにはexport_graphviz関数を使います
- export_graphviz(clf1, out_file="tree.dot", feature_names=trainX.columns, class_names=["0","1"], filled=True, rounded=True)と書きましょう

- 書き出せたら、下記の２行を書きます
- g = pydotplus.graph_from_dot_file(path="tree.dot")
- Image(g.create_png())

## testを予測しましょう
- 今回は1である確率を出す必要があるので、predict_proba関数を使います
- 予測結果は変数predに代入します
- predにはそれぞれの行の[ 0である確率、1である確率 ]が入っているので、pred[;,1]として1である確率のみを抜き出します

## predをsample[1]に代入してファイル出力し、DeepAnalyticsへ投稿しましょう
- ファイル名は「submit1_bank.csv」としましょう
- index=None,header=Noneのオプションを忘れないように書きだしましょう

# 実習
1.決定木のパラメータを今度はmax_depth=4, min_samples_leaf=500に変更してもう一度、決定木の箱を用意しよう
- 新しく作るモデルは変数clf2としよう

2.trainXとyを使って決定木のモデルを作ろう

3.作ったモデルを可視化してみよう
- モデルをclf2とし、tree2.dotというファイル名で書きだそう

4.testを予測しましょう
- 予測結果は変数pred2に代入し、1の確率だけを選択して、再度代入しよう

5.pred2をsample[1]に代入してファイル出力し、DeepAnalyticsへ投稿しましょう
- ファイル名はsubmit2_bank.csvにしよう